.ds-scroll-tabs {
  min-height: var(--ds-size-7x);
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ds-size-2-5x);
  padding: 0 0 0 48px;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
.ds-scroll-tabs__icon {
  flex-shrink: 0;
  width: var(--ds-size-5x);
  height: var(--ds-size-5x);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ds-scroll-tabs__icon svg {
  width: 100%;
  height: 100%;
  display: block;
}
.ds-scroll-tabs__icon svg path {
  fill: currentColor;
}
.ds-scroll-tabs__button-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ds-button-icon-gap, 8px);
  padding: var(--ds-button-icon-s-size-pad-top, 4px) var(--ds-button-icon-s-size-pad-right, 4px) var(--ds-button-icon-s-size-pad-bottom, 4px) var(--ds-button-icon-s-size-pad-left, 4px);
  border-radius: var(--ds-button-icon-border-radius, 8px);
  background: var(--ds-color-button-icon-neutral-filled-default-background, #ffffff);
  box-shadow: var(--ds-shadow-shadows-01-dp-sl);
}
.ds-scroll-tabs__icon-size {
  height: var(--ds-size-5x);
  display: flex;
  flex-direction: row;
}
.ds-scroll-tabs--left {
  padding: 0 48px 0 0;
}

