.ds-dialog-content {
  min-height: 204px;
  width: 500px;
  display: flex;
  flex-direction: row;
  background: var(--ds-color-dialog-background, #ffffff);
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
.ds-dialog-content__label {
  font-size: var(--ds-font-body-m-16-normal-medium-size);
  line-height: var(--ds-font-body-m-16-normal-medium-line);
  letter-spacing: var(--ds-font-body-m-16-normal-medium-spacing);
  font-weight: var(--ds-font-body-m-16-normal-medium-weight);
  color: var(--ds-color-dialog-content-title-color, #333333);
  white-space: nowrap;
}
.ds-dialog-content__icon {
  flex-shrink: 0;
  width: var(--ds-size-3x);
  height: var(--ds-size-3x);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.ds-dialog-content__icon svg {
  width: 100%;
  height: 100%;
  display: block;
}
.ds-dialog-content__icon svg path {
  fill: currentColor;
}
.ds-dialog-content__scroll {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--ds-scroll-pad-top, 2px) var(--ds-scroll-pad-right, 2px) var(--ds-scroll-pad-bottom, 2px) var(--ds-scroll-pad-left, 2px);
}
.ds-dialog-content__background {
  display: flex;
  flex-direction: column;
  border-radius: var(--ds-scroll-border-radius, 8px);
  background: var(--ds-color-scroll-default-background, #fafafa);
}

