.ds-element-form-field {
  width: fit-content;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
.ds-element-form-field__label {
  font-size: var(--ds-font-body-s-14-normal-regular-size);
  line-height: var(--ds-font-body-s-14-normal-regular-line);
  letter-spacing: var(--ds-font-body-s-14-normal-regular-spacing);
  font-weight: var(--ds-font-body-s-14-normal-regular-weight);
  color: var(--ds-color-form-field-filled-default-input-text-color, #333333);
  white-space: nowrap;
}
.ds-element-form-field__input-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ds-size-2x);
  padding: var(--ds-table-cell-pad-top, 8px) var(--ds-table-cell-pad-right, 8px) var(--ds-table-cell-pad-bottom, 8px) var(--ds-table-cell-pad-left, 8px);
}
.ds-element-form-field__input {
  display: flex;
  flex-direction: column;
  gap: var(--ds-form-field-gap-input-support, 4px);
}
.ds-element-form-field--input-cell {
  color: var(--ds-color-form-field-filled-default-label-text-color, #616161);
}
.ds-element-form-field--select-cell {
  color: var(--ds-color-form-field-filled-default-label-text-color, #616161);
}
.ds-element-form-field--chips-input-cell {
  color: #616161;
}

